<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2024 Edith Coates
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Plom Admin Portal</title>
    </head>
    <body>
        <b>Plom Exam - {{ tag }}</b>
        {% if user.is_authenticated %}
            <ul>
                <li>Tag: {{ container.tag }}</li>
                <li>Created: {{ container.created }}</li>
                <li>Status: {{ status }}</li>
                <li>Last status update: {{ container.last_status_refresh }}</li>
            </ul>
            <form method="post"
                action="{% url 'pause_resume_container' tag %}">
                {% csrf_token %}
                {% if status == 'running' %}
                    <input type="submit" value="Pause" />
                {% elif status == 'down' %}
                    <input type="submit" value="Unpause" />
                {% endif %}
            </form>
            {% if status == 'running' %}
                <form method="post"
                    action="{% url 'container_detail' tag %}">
                    {% csrf_token %}
                    <input type="submit" value="Delete container" />
                </form>
            {% endif %}
        {% else %}
            <p>You must be signed in to create containers.</p>
        {% endif %}
        <a href="{% url 'index' %}">back</a>
    </body>
</html>