<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2024 Edith Coates
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Plom Admin Portal</title>
    </head>
    <body>
        <b>Plom Database - {{ name }}</b>
        {% if user.is_authenticated %}
            <ul>
                <li>Tag: {{ database.name }}</li>
                <li>Created: {{ database.created }}</li>
            </ul>
        {% else %}
            <p>You must be signed in to create containers.</p>
        {% endif %}
        <a href="{% url 'index' %}">back</a>
    </body>
</html>