<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2024 Edith Coates
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Plom Admin Portal</title>
    </head>
    <body>
        <b>Plom Exam Portal</b>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}</p>
            <p>There are {{ n_containers }} Plom containers.</p>
            <ul>
                {% for c in containers %}
                    <li>
                        <a href="{% url 'container_detail' c.tag %}">{{ c.tag }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p>There are {{ n_databases }} databases.</p>
            <ul>
                {% for d in databases %}
                <li>
                    <a href="{% url 'database_detail' d.name %}">{{ d.name }}</a>
                </li>
                {% endfor %}
            </ul>

            <a href="{% url 'containers' %}">Create a new container</a>
        {% else %}
            <form method="post" 
                action="{% url 'login_admin' %}">
                {% csrf_token %}
                <label for="admin_username">Username:</label>
                <input name="admin_username" />

                <label for="admin_password">Password:</label>
                <input name="admin_password" type="password" />

                <input type="submit" value="login" />
            </form>
        {% endif %}
    </body>
</html>