<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2024 Edith Coates
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Plom Admin Portal</title>
</head>

<body>
    <b>Plom Exam Portal</b>
    {% if user.is_authenticated %}

    <!-- New container form -->
    <p>Create a new container</p>
    <form method="post" action="{% url 'containers' %}">
        {% csrf_token %}

        <label for="container_tag">Tag:</label>
        <input name="container_tag" />

        <label for="container_port">Port:</label>
        <input name="container_port" type="number" />

        <input type="submit" value="create" />
    </form>

    {% else %}
    <p>You must be signed in to create containers.</p>
    {% endif %}
    <a href="{% url 'index' %}">back</a>
</body>

</html>